.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  cursor: pointer;
  border-radius: var(--radius);
  transition: background 0.2s;
}

.nav-item:hover {
  background-color: #f0f0f0;
}

.nav-item.active {
  color: var(--primary);
  font-weight: bold;
}

.task-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border-right: 5px solid var(--secondary); /* הדגשה כחולה */
}
